version 0.1
ticket_number 239824

ip vrf dor
rd 1550
route-target export 1550
route-target import 1550


interface PortChannel1
description 101 vrf to dor vrf
encapsulation dot1Q 101
ip vrf forwarding dor
 no shutdown
ip address 172.16.1.5
 no ip redirects
 no ip unreachables


interface TenGigabitEthernet0/0/2.102
description 101 vrf to dor vrf
encapsulation dot1Q 102
ip vrf forwarding dor
 no shutdown
ip address 172.16.1.5
 no ip redirects
 no ip unreachables


router bgp 65253
address-family ipv4 vrf dor
  redistribute connected
  redistribute static
neighbor dor-CLD-VDOM peer-group
neighbor dor-CLD-VDOM remote-as 100
neighbor dor-CLD-VDOM send-community both
neighbor dor-CLD-VDOM soft-reconfiguration inbound


neighbor 172.16.1.3 peer-group dor-CLD-VDOM
neighbor 172.16.1.3 shutdown
neighbor 172.16.1.3 description Peering to 7K1.DATA 123 VRF
neighbor 172.16.1.3 route-map SET-LOCAL-PREF-200 in
neighbor 172.16.1.3 activate
neighbor 172.16.1.4 peer-group dor-CLD-VDOM
neighbor 172.16.1.4 shutdown
neighbor 172.16.1.4 description Peering to 7K2.DATA 123 VRF
neighbor 172.16.1.4 route-map SET-LOCAL-PREF-150 in
neighbor 172.16.1.4 activate
neighbor  peer-group dor-CLD-VDOM
neighbor  shutdown
neighbor  description Peering to 7K21.DATA dor VRF
neighbor  route-map SET-LOCAL-PREF-140 in
neighbor  activate
neighbor  peer-group dor-CLD-VDOM
neighbor  shutdown
neighbor  description Peering to 7K22.DATA dor VRF
neighbor  route-map SET-LOCAL-PREF-130 in
neighbor  activate